<script>
    var pageContext = {
        pageName: 'searchresultpage'
    }

</script>

<section class="search-section">
    {{> _searchbox}}
</section>

<div class="searchresult-page" id="searchresult-page">    
    {{> _breadcrumb}}

    <div class="search-result">
        <div class="container">
            <div class="main-content col-md-8">
                {{#if data.searchResult}}            
                    <div class="main-word">
                        <h1 class="word-name tooltipster" title="{{data.searchResult.name}}">{{data.searchResult.name}}</h1>
                        <div class="pronunciation">
                            <a class="sound-link" onclick="this.firstElementChild.play();">
                                <audio src="{{data.searchResult.soundLink}}">
                                </audio>                                
                                <i class="fa fa-volume-up" aria-hidden="true"></i>
                            </a>
                            <span class="phonetic-spelling">{{data.searchResult.phoneticSpelling}}</span>
                        </div>

                        <div class="actions">                            
                            <div class="shares">
                                <a class="fb"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                <a class="googleplus"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                            </div>
                            <a class="btn-add-to-list"><i class="glyphicon glyphicon-plus"></i><i class="fa fa-plus" aria-hidden="true"></i> Add to list</a> 
                        </div>
                                               
                    </div> <!-- end .main-word -->

                    <div class="mean-word">                       
                        <p class="definition-in">
                            Definition of <i>"{{word}}"</i> in 
                            {{#ifeq type 'en-en'}}
                                English:
                            {{else ifeq type 'en-vi'}}
                                Vietnamese:
                            {{else}}
                                Thesaurus:
                            {{/ifeq}}
                        </p>
                        <div class="type-of-dict">
                            <p>Others : 
                                {{#ifeq type 'en-en'}}
                                    <a href="/definition/en-vi/{{word}}" class="type">Vietnamese</a> ,
                                    <a href="/definition/thesaurus/{{word}}" class="type">Thesaurus</a>                                    
                                {{/ifeq}}
                                {{#ifeq type 'en-vi'}}
                                    <a href="/definition/en-en/{{word}}" class="type">English</a> ,
                                    <a href="/definition/thesaurus/{{word}}" class="type">Thesaurus</a>                                    
                                {{/ifeq}}
                                {{#ifeq type 'thesaurus'}}
                                    <a href="/definition/en-vi/{{word}}" class="type">Vietnamese</a> ,
                                    <a href="/definition/en-en/{{word}}" class="type">English</a>                                    
                                {{/ifeq}}                               
                            </p>
                        </div>                          
                        {{#ifeq type 'en-en'}}
                        <div class="en-en">
                            <div class="grambs">
                                {{#data.searchResult.translateToEn.grambs}}
                                <div class="gramb">
                                    <div class="type-of-word">{{typeOfWord}}
                                        <span class="custom-arrow">
                                            <i class="down"></i>
                                            <i class="up"></i>
                                        </span>
                                    </div>
                                    <div class="l1-group">
                                        {{#level1}}
                                        <div class="l1-container">
                                            <h2 class="l1-mean"><span class="l1-index">{{incIndex @index}} </span>{{{mean}}}</h2>
                                            <div class="l1-examples">
                                                {{#if examples}}
                                                    <p class="ex">- {{{examples.[0]}}}</p>                            
                                                    <div class="more-examples">
                                                        <p class="btn btn-default btn-more-exg">More examples</p>
                                                        <div class="exg">
                                                            {{#examples}}
                                                                {{#ifeq @index 0}}
                                                                {{else}}
                                                                    <p class="ex">- {{{this}}}</p>
                                                                {{/ifeq}}                                                                           
                                                            {{/examples}}
                                                        </div>
                                                    </div>
                                                {{/if}}                                    
                                            </div>
                                            <div class="l2-container">
                                                {{#level2}}
                                                <h3 class="l2-mean"><span class="l2-index">{{incIndex @../index}}.{{incIndex @index}} </span>{{{mean}}}</h3>
                                                <div class="l2-examples">
                                                    {{#if examples}}
                                                        <p class="ex">- {{{examples.[0]}}}</p>
                                                        <div class="more-examples">
                                                            <p class="btn btn-default btn-more-exg">More examples</p>
                                                            <div class="exg">
                                                                {{#examples}}                                
                                                                    {{#ifeq @index 0}}
                                                                    {{else}}
                                                                        <p class="ex">- {{{this}}}</p>
                                                                    {{/ifeq}} 
                                                                {{/examples}}
                                                            </div>
                                                        </div>
                                                    {{/if}}                                        
                                                </div>
                                                {{/level2}}
                                            </div>
                                        </div>
                                        {{/level1}}
                                    </div>
                                    
                                </div>
                                {{/data.searchResult.translateToEn.grambs}}
                            </div> <!-- end .grambs -->

                            <div class="etymologys">
                                {{#data.searchResult.translateToEn.etymologys}}
                                <div class="etymology">
                                    <div class="type-of-word">{{typeOfWord}}
                                        <span class="custom-arrow">
                                            <i class="down"></i>
                                            <i class="up"></i>
                                        </span>
                                    </div>
                                    <div class="l1-group">
                                        {{#level1}}
                                        <div class="l1-container">
                                            <h2 class="l1-phase"><span class="l1-index">{{incIndex @index}}</span> {{{phase}}}</h2>
                                            <h3 class="l1-mean">{{{mean}}}</h3>
                                            <div class="l1-examples">
                                                {{#if examples}}
                                                    <p class="ex">- {{{examples.[0]}}}</p>                         
                                                    <div class="more-examples">
                                                        <p class="btn btn-default btn-more-exg">More examples</p>
                                                        <div class="exg">
                                                            {{#examples}}
                                                                {{#ifeq @index 0}}
                                                                {{else}}
                                                                    <p class="ex">- {{{this}}}</p>
                                                                {{/ifeq}}                                                                           
                                                            {{/examples}}
                                                        </div>
                                                    </div>
                                                {{/if}}
                                            </div>
                                        </div>
                                        {{/level1}}
                                    </div>                    
                                </div>
                                {{/data.searchResult.translateToEn.etymologys}}
                            </div> <!-- end .etymologys -->
                        </div>            
                        {{/ifeq}}

                        {{#ifeq type 'en-vi'}}
                        <div class="en-vi">
                            <div class="grambs">
                                {{#data.searchResult.translateToVi.types}}
                                    {{#ifeq type 'gramb'}}
                                        <div class="type-of-word">{{name}}                                            
                                        </div>
                                    {{else ifeq type 'mean'}}
                                        <div class="gramb l1-container">
                                            <h2 class="l1-mean"><i class="l1-dot-icon"></i>{{{mean}}}</h2>
                                            <div class="sentences">
                                                {{#each level2}}
                                                    <h3 class="l1-sentence">{{{sentence}}}</h3>
                                                    <p class="l1-translate">{{{mean}}}</p>
                                                {{/each}}
                                            </div>                                
                                        </div>
                                    {{else}}
                                        <div class="idiom l1-container">
                                            <h2 class="l1-mean"><i class="l1-dot-icon"></i>{{{idiom}}}</h2>
                                            <div class="l2-container">
                                                {{#each level2}}
                                                    <h3 class="l2-mean"><i class="l2-dot-icon"></i>{{{mean}}}</h3>
                                                    <div class="l3-container">
                                                        {{#each level3}}
                                                            <h4 class="l3-sentence">{{{sentence}}}</h4>
                                                            <p class="l3-translate">{{{mean}}}</p>
                                                        {{/each}}
                                                    </div>                                                                                
                                                {{/each}}
                                            </div>                                                              
                                        </div>     
                                    {{/ifeq}}                        
                                {{/data.searchResult.translateToVi.types}}
                            </div> <!-- end .grambs -->
                        </div>                
                        {{/ifeq}}
                    </div>            
                {{else}}
                    <div class="no-result">
                        <h1>No exact matches found for "<span class="word-name">{{word}}</span>"</h1> 
                    </div>                       
                {{/if}}
            </div>
            <div class="right-menu col-md-4">
                <section class="section-add-word-to-list">
                    <p>Add {{word}} to list</p>
                </section>
            </div>
            
        </div> 
    </div>
</div>

<!-- add to list popup -->
{{!--
<div class="add-to-list-popup mfp-hide container" id="add-to-list-popup">
    <h1 class="hero-title">{{data.searchResult.word}}</h1>
    <div class="form-group">
        <label for="list">Choose a list</label>
        <select name="list" id="list">              
        </select>
    </div>
    <button class="btn btn-default">Add to list</button>
</div>--}}